.basicStyle,
.topBarOuter,
.topBarOuter .left,
.topBarOuter .left .titleOuter,
.topBarOuter .left .menu {
  background-color: transparent;
}
.basicFlex,
.topBarOuter,
.topBarOuter .left,
.topBarOuter .left .titleOuter,
.topBarOuter .left .menu,
.topBarOuter .left .menu .menuInner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.topBarOuter {
  padding: 0 1rem;
}
.topBarOuter .left .titleOuter .logo {
  background: url(../../assets/img/logo.png) no-repeat center 0vw / 2.7vw;
  background-size: cover;
}
.topBarOuter .left .menu .menuInner {
  justify-content: center;
}
.topBarOuter .left .menu .active {
  background-color: #ffc11f;
  color: white;
  transition: 300ms;
}
.topBarOuter .right {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}
.tContainer {
  background: black;
  position: static;
}
.hometCotainer {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  position: absolute;
}
.tContainer-exit {
  background: rgba(0, 0, 0, 0.5);
}
.tContainer-exit-active {
  background: black;
  position: absolute;
  transition: 300ms;
}
.tContainer-exit-done {
  background: black;
  position: static;
  transition: 300ms;
}
.tContainer-enter {
  background: black;
}
.tContainer-enter-active {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  transition: 300ms;
}
.tContainer-enter-done {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  position: absolute;
}
