@stdSize: 0.045vw;
@logoSize: 60 * @stdSize;

.basicStyle {
  background-color: transparent;
}

.basicFlex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.topBarOuter:extend(.basicStyle, .basicFlex) {
  padding: 0 1rem;

  .left:extend(.basicStyle, .basicFlex) {
    .titleOuter:extend(.basicStyle, .basicFlex) {
      .logo {
        background: url(../../assets/img/logo.png) no-repeat center 0 * @stdSize /
          @logoSize;
        background-size: cover;
      }
    }

    .menu :extend(.basicStyle, .basicFlex) {
      .menuInner:extend(.basicFlex) {
        justify-content: center;
      }

      .active {
        background-color: #ffc11f;
        color: white;
        transition: 300ms;
      }
    }
  }

  .right {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
  }
}

.tContainer {
  background: black;
  position: static;
}

.hometCotainer {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  position: absolute;
}

.tContainer-exit {
  background: rgba(0, 0, 0, 0.5);
}

.tContainer-exit-active {
  background: black;
  position: absolute;
  transition: 300ms;
}

.tContainer-exit-done {
  background: black;
  position: static;
  transition: 300ms;
}

.tContainer-enter {
  background: black;
}

.tContainer-enter-active {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  transition: 300ms;
}

.tContainer-enter-done {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  position: absolute;
}
