html {
  font-size: 62.5%;
  font-family: "华文中宋", monospace;
}
html body #root .App {
  /* full viewport height */
  min-height: 100vh;
  overflow: hidden;
}
#root {
  height: 100vh;
}
::-webkit-scrollbar {
  width: 0;
}
body,
html {
  overflow: hidden;
}
button {
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  padding: 0;
  cursor: pointer;
  outline: none;
}
.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #f0f2f5;
  overflow: hidden;
  flex-flow: column;
  justify-content: stretch;
  /*定义滚动条轨道 内阴影+圆角*/
  /*定义滑块 内阴影+圆角*/
  /*定义最上方和最下方的按钮*/
}
.app ::-webkit-scrollbar-track {
  border-radius: 3px;
  background-color: lightgray;
}
.app ::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #ffc11f;
}
.app ::-webkit-scrollbar-button {
  background: transparent;
}
.app ::-webkit-scrollbar {
  height: 3px;
  width: 3px;
}
.app .topBarOuter {
  grid-area: header;
}
.app .behind {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  background-color: transparent;
  flex: auto;
}
.app .behind .loginContainer {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  z-index: 99999;
}
.app .bottom {
  flex-grow: 0;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  grid-area: bottom;
}
.app .bContainer-enter {
  overflow: hidden;
  height: 0vh;
}
.app .bContainer-enter-active {
  height: 7.48rem;
  transition: 300ms;
}
.app .bContainer-exit {
  height: 7.48rem;
}
.app .bContainer-exit-active {
  height: 0rem;
  transition: 300ms;
  overflow: hidden;
}
.app .bContainer-exit-done {
  height: 0rem;
  overflow: hidden;
}
.app .calContainer {
  overflow: hidden;
  width: 0vw;
}
.app .calContainer-enter {
  overflow: hidden;
  width: 0vw;
}
.app .calContainer-enter-active {
  width: 100vw;
  transition: 300ms;
}
.app .calContainer-exit {
  width: 100vw;
}
.app .calContainer-exit-active {
  width: 0vw;
  transition: 300ms;
  overflow: hidden;
}
.app .calContainer-exit-done {
  width: 0vw;
  overflow: hidden;
}
