.ohohoh-enter {
  opacity: 0;
  transform: scale(0.6);
}
.ohohoh-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: all 1000ms;
}
.ohohoh-exit {
  opacity: 1;
  transform: scale(1);
}
.ohohoh-exit-active {
  opacity: 0;
  transform: scale(0.6);
  transition: all 1000ms;
}
