.progressTop {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.progressTop .progressBar {
  display: flex;
  justify-content: space-evenly;
}
.progressTop .progressBar .PBP {
  margin-top: -50px;
}
.progressTop .progressBar .PBP .head {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
