.projectList .plMain {
  display: flex;
  flex-direction: column;
  grid-gap: 30px;
  justify-content: center;
}
.projectList .plMain .cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(24rem, 0.4fr));
  grid-gap: 30px;
}
.projectList .plMain .cardContainer .paragraphInCard {
  padding-bottom: 0.7rem;
  width: 100%;
}
.projectList .plMain .cardContainer .paragraphInCard .threeColumns {
  padding: 0 2rem 0 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
